.card-family{
  width: 80%;
}


.card{
  border: 40px slategray;
  border-radius: 30px;
  margin: 10px;
  width: 18rem;
  height: 500px;
  content: none;
  position: relative;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content:space-around;
  align-content: center;
  background-color:rgb(130, 186, 238);

  
}
.card-body{
  text-align: center;
  padding-top: 80%;

  

}
img{
  width: 20px;
  height: 50px;
}


